<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dict.emp.mapper.DeptMapper">

    <resultMap id="baseResultMap" type="dept">
        <id column="deptno" jdbcType="INTEGER" property="deptno" />
        <result column="dname" jdbcType="VARCHAR" property="dname" />
        <result column="loc" jdbcType="VARCHAR" property="loc" />
    </resultMap>

    <select id="selectDeptList" resultMap="baseResultMap">
        select deptno, dname, loc from dept
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select deptno, dname, loc from dept where deptno = #{deptno}
    </select>

    <insert id="insert" parameterType="com.dict.emp.entity.Dept">
        insert into dept values(#{deptno}, #{dname}, #{loc})
    </insert>

    <update id="update" parameterType="com.dict.emp.entity.Dept">
        update dept
        <set>
            <if test="dname != null">
                dname = #{dname},
            </if>
            <if test="loc != null">
                loc = #{loc},
            </if>
        </set>
        where deptno = #{deptno}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from dept where deptno = #{deptno}
    </delete>


    <resultMap id="deptInfoResultMap" type="com.dict.emp.entity.vo.DeptInfo">
        <id column="deptno" jdbcType="INTEGER" property="deptno" />
        <result column="dname" jdbcType="VARCHAR" property="dname" />
        <result column="loc" jdbcType="VARCHAR" property="loc" />
        <collection property="empList" ofType="emp" >
            <id column="empno" jdbcType="INTEGER" property="empno"/>
            <result column="ename" jdbcType="VARCHAR" property="ename" />
            <result column="job" jdbcType="VARCHAR" property="job" />
            <result column="mgr" jdbcType="INTEGER" property="mgr" />
            <result column="hiredate" jdbcType="DATE" property="hiredate" />
            <result column="sal" jdbcType="REAL" property="sal" />
            <result column="comm" jdbcType="REAL" property="comm" />
            <result column="deptno" jdbcType="INTEGER" property="deptno" />
        </collection>
    </resultMap>
    <select id="selectDeptInfo" parameterType="java.lang.Integer" resultMap="deptInfoResultMap">
        select
            d.*,
            e.empno, e.ename, e.job, e.mgr, e.hiredate, e.sal, e.comm
        from dept d left join emp e on d.deptno = e.deptno
        <where>
            <if test="deptno != null">
                d.deptno = #{deptno}
            </if>
        </where>
    </select>


</mapper>